:root {
  /* BASE COLORS */
  /* Background */
  --px-color-surface: #EEEEEE;
  --px-color-disabled-bg: #DFDFDF;

  /* Text */
  --px-color-text: #1B1B1B;
  --px-color-text-subtle: #6E6E6E;
  --px-color-text-subtle-hover: #4D4D4D;
  --px-color-text-disabled: #A0A0A0;
  --px-color-text-disabled-bold: #454545;
  --px-color-text-red: #DD1133;

  /* Links */
  --px-color-link: #3D91E6;
  --px-color-link-active: #D4A5A5;
  --px-color-link-visited: #635A87;

  /* COMPONENTS */
  /* Menu */
  --px-menu-bg: var(--px-color-surface);
  --px-menu-item-text: var(--px-color-text);

  --px-menu-item-bg-hover: var(--px-shadow-medium);
  --px-menu-item-bg-active: var(--px-shadow-dark);

  /* Accordion */
  --px-accordion-border: var(--px-shadow-medium);
  --px-accordion-trigger-color: var(--px-color-text);
  --px-accordion-trigger-bg: transparent;

  /* Tabs */
  --px-tab-border-color: var(--px-shadow-medium);
  --px-tab-color: var(--px-color-text-subtle);
  --px-tab-color-hover: var(--px-color-text);
  --px-tab-color-active: var(--px-color-text);
  --px-tab-indicator-color: var(--px-color-text);

  /* Table */
  --px-table-cell-bg: var(--px-color-surface);
  --px-table-column-color: var(--px-color-text-subtle);
  --px-table-column-bg: transparent;

  /* Tag */
  --px-tag-bg: var(--px-color-surface);
  --px-tag-text: var(--px-color-text);

  /* Radio */
  --px-radio-bg: var(--px-color-surface);
  --px-radio-bg-checked: var(--px-color-text);
  --px-radio-dot-color: var(--px-color-surface);
  --px-radio-required-color: var(--px-form-required);

  /* Checkbox */
  --px-checkbox-bg: var(--px-color-surface);
  --px-checkbox-bg-checked: var(--px-color-text);
  --px-checkbox-bg-indeterminate: var(--px-color-text);
  --px-checkbox-check-color: var(--px-color-surface);
  --px-checkbox-dash-color: var(--px-color-surface);
  --px-checkbox-required-color: var(--px-form-required);

  /* Avatar */
  --px-avatar-bg: var(--px-color-surface);
  --px-avatar-text: var(--px-color-text);

  /* Box */
  --px-box-default-bg: var(--px-color-surface);

  /* Button */
  --px-btn-primary-bg: var(--px-color-surface);
  --px-btn-primary-text: var(--px-color-text);
  --px-btn-disabled-bg: var(--px-color-disabled-bg);
  --px-btn-disabled-text: var(--px-color-text-disabled-bold);

  /* Dialog */
  --px-dialog-bg: var(--px-color-surface);
  --px-dialog-overlay:rgba(238, 238, 238, 0.85);

  /* Icon Container */
  --px-icon-container-bg: var(--px-color-surface);

  /* Link */
  --px-link-text: var(--px-color-link);
  --px-link-text-hover: var(--px-color-text);
  --px-link-text-active: var(--px-color-link-active);
  --px-link-text-visited: var(--px-color-link-visited);

  /* Forms */
  --px-form-primary-bg: var(--px-color-surface);
  --px-form-text: var(--px-color-text);
  --px-form-text-disabled: var(--px-color-text-disabled);
  --px-form-text-placeholder: var(--px-color-text-subtle);
  --px-form-text-placeholder-hover: var(--px-color-text-subtle-hover);
  --px-form-required: var(--px-color-text-red);

}
