/* Body text defaults */
.nimbus body, .nimbus p, .nimbus span, .nimbus li {
  font-family: var(--px-font-family-body);
  font-size: var(--px-font-size-body);
  line-height: var(--px-line-height-body);
  color: var(--px-color-text);
  margin: 0;
}

/* Headings fallback  */
.nimbus h1, .nimbus h2, .nimbus h3, .nimbus h4, .nimbus h5, .nimbus h6 {
  font-family: var(--px-font-family-heading);
  color: var(--px-color-text);
  line-height: var(--px-line-height-heading);
  margin: 0;
}
