:root {
  --px-space-0: 0;
  --px-space-025: 0.125rem;
  --px-space-050: 0.25rem;
  --px-space-075: 0.375rem;
  --px-space-100: 0.5rem;
  --px-space-150: 0.75rem;
  --px-space-200: 1rem;
  --px-space-250: 1.25rem;
  --px-space-300: 1.5rem;
  --px-space-400: 2rem;
  --px-space-500: 2.5rem;
  --px-space-600: 3rem;
  --px-space-800: 4rem;
  --px-space-1000: 5rem;
  --px-space-1100: 5.5rem;
  --px-space-1200: 6rem;
  --px-space-1300: 6.5rem;
  --px-space-1400: 7rem;
  --px-space-1500: 7.5rem;

  --px-border-radius: var(--px-space-200);
  
  --px-box-padding: var(--px-space-200);

  --px-dialog-padding: var(--px-space-300);
  --px-dialog-margin-bottom: var(--px-space-200);

  --px-form-border-radius: var(--px-space-100);
  --px-form-gap: var(--px-space-100);
  --px-form-padding: var(--px-space-150);
  --px-form-wrapper-padding: var(--px-space-0) var(--px-space-050);
  --px-form-required-margin: var(--px-space-050);
  --px-form-min-height: var(--px-space-800);
}
