:root {
  /* BASE ELEVATION */
  /* Colors */
  --px-shadow-light: #F6F6F6;
  --px-shadow-medium: #CACACB;
  --px-shadow-dark: #B9B9B9;
  --px-shadow-disabled-light: #F8F8F8;
  --px-shadow-disabled-medium: #E0E0E0;
  --px-focus-color: rgba(0, 120, 255, 0.5);
  --px-focus-inset-light: rgba(255, 255, 255, 0.8);
  --px-focus-inset-dark: rgba(0, 0, 0, 0.15);

  /* Elevation */
  --px-elevation-sunken:
    inset 4px 4px 6px var(--px-shadow-medium),
    inset -4px -4px 6px var(--px-shadow-light);
  --px-elevation-default: none;
  --px-elevation-raised:
    4px 4px 6px var(--px-shadow-medium),
    -4px -4px 6px var(--px-shadow-light);
  --px-elevation-overlay:
    4px 4px 6px var(--px-shadow-dark),
    -4px -4px 6px var(--px-shadow-light);

  /* COMPONENTS */
  /* Select */
  --px-select-shadow-open: var(--px-form-shadow);
  --px-select-dropdown-shadow: var(--px-form-shadow);

  /* Menu */
  --px-menu-shadow: var(--px-elevation-overlay);

  /* Accordion */
  --px-accordion-trigger-shadow-hover: var(--px-btn-shadow-hover);
  --px-accordion-trigger-shadow-active: var(--px-btn-shadow-active);

  /* Tabs */
  --px-tab-shadow: var(--px-btn-shadow);
  --px-tab-shadow-hover: var(--px-btn-shadow-hover);
  --px-tab-shadow-active: var(--px-btn-shadow-active);

  /* Table */
  --px-table-row-shadow: var(--px-elevation-raised);
  --px-table-row-shadow-hover: var(--px-elevation-overlay);

  /* Tag */
  --px-tag-shadow: var(--px-elevation-raised);

  /* Image */
  --px-image-shadow: var(--px-elevation-raised);

  /* Radio */
  --px-radio-shadow: var(--px-elevation-sunken);
  --px-radio-shadow-disabled: var(--px-form-shadow-disabled);

  /* Checkbox */
  --px-checkbox-shadow: var(--px-elevation-sunken);
  --px-checkbox-shadow-disabled: var(--px-form-shadow-disabled);

  /* Avatar */
  --px-avatar-shadow: var(--px-elevation-sunken);

  /* Box */
  --px-box-shadow: var(--px-elevation-overlay);
  --px-box-shadow-hover: var(--px-btn-shadow-active);

  /* Button */
  --px-btn-shadow: var(--px-elevation-raised);
  --px-btn-shadow-hover:
    inset 2px 2px 2px var(--px-shadow-dark),
    inset -2px -2px 2px var(--px-shadow-light);
  --px-btn-shadow-active:
    inset 2px 2px 2px var(--px-shadow-medium),
    inset -2px -2px 2px var(--px-shadow-light);
  --px-btn-ghost-shadow-hover:
    1px 1px 4px var(--px-shadow-medium),
    -1px -1px 4px var(--px-shadow-light);
  --px-btn-ghost-shadow-active:
    2px 2px 4px var(--px-shadow-medium),
    -2px -2px 4px var(--px-shadow-light);
  
  /* Dialog */
  --px-dialog-shadow: var(--px-elevation-overlay);

  /* Icon Container */
  --px-icon-container-shadow: var(--px-elevation-raised);
  --px-icon-container-shadow-hover: var(--px-elevation-sunken);
  --px-icon-container-shadow-active:
    inset 2px 2px 2px var(--px-shadow-medium),
    inset -2px -2px 2px var(--px-shadow-light);

  /* Forms */
  --px-form-shadow:
    inset 3px 3px 4px var(--px-shadow-medium),
    inset -4px -4px 4px var(--px-shadow-light);
  --px-form-shadow-readonly:
    inset 2px 2px 3px var(--px-shadow-disabled-medium),
    inset -3px -3px 3px var(--px-shadow-disabled-light);
  --px-form-shadow-hover:
    inset 4px 4px 4px var(--px-shadow-medium),
    inset -4px -4px 4px var(--px-shadow-light);
  --px-form-shadow-focus:
    0 0 3px 2px var(--px-focus-color),
    inset 2px 2px 2px var(--px-focus-inset-dark),
    inset -2px -2px 2px var(--px-focus-inset-light);
  --px-form-shadow-disabled:
    inset 2px 2px 3px var(--px-shadow-disabled-medium),
    inset -2px -2px 3px var(--px-shadow-disabled-light);
}
